%p This is your dashboard

- if @current_projects.empty?
	%p You haven't created any projects yet!
- else
	%p= "Current projects for #{@current_user.name}:"

	%ul
		- @current_projects.each do |project|
			%li
				= link_to project.name, "/users/#{@current_user.id}/projects/#{project.id}"
				= link_to " (delete)", "/users/#{@current_user.id}/projects/#{project.id}", :method => :delete
				


%a(title="New Project" href="/users/#{@current_user.id}/projects/new")  Create new project