
%p Statistics

%ul
	%li= "Total hours worked: #{@total_hours} hours"
	%li= "Hours/day since sign up: #{@hours_day} hours/day"
	%li= "Most worked on project: #{@most_hours_project} with #{@most_hours} hours"
	%li= "Most productive day: #{@most_productive_day} with #{@most_productive_day_hours} hours"