%p= "Shifts for project #{@project.name}"

%ul
	- @shifts.each do |shift|
		%li
			= shift.to_s
			= link_to " (delete)", "/users/#{@current_user.id}/projects/#{@project.id}/shifts/#{shift.id}", :method => :delete

%p= link_to "Add another shift", "/users/#{@project.user_id}/projects/#{@project.id}/shifts/new"

= link_to "Back to project", "/users/#{params[:user_id]}/projects/#{params[:project_id]}"