%h3= @project.name
%p= @project.description
%p= "Total time spent in this project is #{distance_of_time_in_words(@project.total_time)}"

%p= link_to "Add more time", "/users/#{@project.user_id}/projects/#{@project.id}/shifts/new"



%p= link_to "Back to dashboard", dashboard_path