%h3= @project.name
%p= @project.description
%p
	- if @project.total_time == 0
		You haven't spent time with this project yet.
	- else
		= "Total time spent in this project is #{@project.total_time_textual} "
		= link_to "(view or delete shifts)", "/users/#{@project.user_id}/projects/#{@project.id}/shifts/"

%p= link_to "Add a shift", "/users/#{@project.user_id}/projects/#{@project.id}/shifts/new"


= column_chart Shift.where('project_id' => @project.id).group_by_day(:end_date).count

%p= link_to "Back to dashboard", dashboard_path